<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="schiessbuch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="schiessbuch.Properties.Settings.siusclubConnectionString"
            connectionString="server=localhost;user id=siusclub;password=siusclub;persistsecurityinfo=True;database=siusclub;Allow User Variables=true"
            providerName="MySql.Data.MySqlClient" />
        <add name="schiessbuch.Properties.Settings.siusclubConnectionStringTEST"
            connectionString="server=localhost;user id=siusclub;password=siusclub;persistsecurityinfo=True;database=siusclub"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <schiessbuch.Properties.Settings>
            <setting name="BackupDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupFileName" serializeAs="String">
                <value />
            </setting>
        </schiessbuch.Properties.Settings>
    </userSettings>
</configuration>